# This is the in-tree build configuration file. No options are enabled, but all
# options are listed and commented upon for convience.

# These two specify the C compiler and archiver for the target system.
# If unspecified, they default to that of the host system. See host.tup.
#CONFIG_CC=cc
#CONFIG_AR=ar

# These specify extra compiling and linking flags for the target system.
# Will default to the host's settings if left unspecified and CC is unspecified.
#CONFIG_CFLAGS=
#CONFIG_LDLIBS=

# Uncomment this to enable X support via libxcb. The default is to enable if
# on Linux or Mac, and to disable on Windows.
#CONFIG_ENABLE_XCB=y

# These specify the compiling and linking flags needed to enable XCB support.
# If not given, they will default to the output given from pkg-config.
#CONFIG_XCB_CFLAGS=
#CONFIG_XCB_LDLIBS=

# Uncomment this to enable building of the demos.
#CONFIG_ENABLE_DEMOS=y

# Uncomment this to run the demos after they are built.
# This should not be enabled on cross-compiling builds.
#CONFIG_RUN_DEMOS=y
# This option allows the demos to be run in a wrapper, such as Valgrind.
#CONFIG_RUN_WRAPPER=valgrind

# Uncomment this to recompile shaders in applicable areas (for instance, demos).
# Requires a working glslangValidator on the PATH.
#CONFIG_RECOMPILE_SHADERS=y
